<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá {{name}},</p>
  <p>Houve um pedido de troca de senha vindo da sua conta!</p>
  <p>
    Use a nova senha abaixo para acessar a plataforma e altere sua senha
  </p>
  <br />
  <p>Nova senha</p>
  <p><strong>{{password}}</strong></p>
  <p>
    <strong>Equipe Carteira Digital</strong>
  </p>
</div>
